.me-auto {
    margin: auto;
}

.nav-item {
    position: relative;
    left: 430px;
}

.entry-nav{
  display: flex;
}

.entry-nav ul {
  display: flex;
  list-style-type: none;
}

/* ImageCards */

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
